.u-p {
  padding: $spacing;
  @include mq($until: tablet) {
    padding: 0;
  }
}

.u-p-b {
  padding-bottom: $spacing;
}

.u-p-s {
  padding: 3rem 0 0 0;
  @include mq($from: tablet) {
    padding: 3rem 2rem;
  }
}

@include mq($from: tablet) {
  .u-p-b\@tablet {
    padding-bottom: $spacing;
  }
}

@include mq($until: tablet) {
  .u-p-b\@tablet {
    padding-bottom: $spacing;
  }
  .u-center\@mobile {
    text-align: center;
  }
}

.u-p-t {
  padding-top: $spacing;
}

.u-p-t-xxl {
  padding-top: 10rem;
  @include mq($from: tablet) {
    padding-top: 18rem;
  }
}
.u-p-r-xxl {
  padding-right: 20rem;
  @include mq($until: tablet) {
    padding-right: 0;
  }
}
.u-p-r {
  padding-right: $spacing;
  @include mq($until: tablet) {
    padding-right: 0;
  }
}

.u-p-b-l {
  padding-bottom: $spacing-l;
  @include mq($until: tablet) {
    padding-bottom: $spacing-s;
  }
}

.u-p-b-l2 {
  padding-bottom: $spacing-l;
}

.u-p-b-xl {
  padding-bottom: $spacing-xl;
  @include mq($until: tablet) {
    padding-bottom: 2rem;
  }
}

.u-p-t-s {
  padding-top: $spacing-s;
}

.u-p-xl {
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
}
.u-p-t-l {
  padding-top: $spacing-l;
}

.u-p-t-xl {
  padding-top: $spacing-xl;
}

@include mq($from: desktop) {
  .u-m-b\@desktop {
    margin-bottom: $spacing;
  }
}

.u-text-normal {
  text-transform: unset;
}
.u-m-t {
  margin-top: $spacing;
}
.u-m-b {
  margin-bottom: $spacing;
}
.u-m-b-s {
  margin-bottom: $spacing-s;
}
.u-m-b-xs {
  margin-bottom: $spacing-xs;
}
.u-m-b-s {
  margin-bottom: $spacing-s;
}
.u-m-b-l {
  margin-bottom: $spacing-l;
  @include mq($until: tablet) {
    margin-bottom: $spacing-s;
  }
}
.u-m-b-xl {
  margin-bottom: $spacing-xl;
  @include mq($until: tablet) {
    margin-bottom: 2rem;
  }
}

.u-m-b-xxl {
  margin-bottom: $spacing-xxl;
  @include mq($until: tablet) {
    margin-bottom: 5rem;
  }
}


.u-center {
  text-align: center;
}
.ql-align-center {
  text-align: center;
}

.u-right {
  text-align: right;
}

.u-left {
  text-align: left;
}
.u-font-xl {
  @include mq($from: tablet) {
    font-size: 4rem;
    line-height: 5.3rem;

    p {
      // For v-html purpose
      font-size: 2.5rem;
      line-height: 3.3rem;
    }
  }
}

@include mq($from: tablet-large) {
  .u-sticky {
    position: sticky;
    top: 72px;
    // @include mq($until: tablet) {
    //   text-align: center;
    // }
  }
}

.u-zoom {
  &__item {
    //transition: .3s ease-in-out;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    filter: sepia(0);
  }
  &:hover .u-zoom__item {
    transform: scale(1.02);
    filter: sepia(0.5);
  }
  h4 {
    text-align: left !important;
  }  
}

.u-square {
  position: relative;
  display: block;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.u-rectangle {
  position: relative;
  display: block;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 48.66%;
    @include mq($until: tablet) {
      padding-bottom: 100%;
    }
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.u-text {
  text-align: left;
  @include mq($until: tablet) {
    text-align: center;
    padding-bottom: 2rem;
  }
}

.u-underline {
  &:after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: block;
  }
}

@include mq($from: tablet) {
  .u-full-height {
    width: 100%;
    height: calc(100vh - 18rem);
  }
}

.u-height-100 {
  height: 100%;
}

.u-height-100vh {
  height: calc(100vh - 121px);
}

.u-no-margin {
  margin: 0;
}

.u-mobile {
  display: none !important;
  @include mq($until: tablet) {
    display: block !important;
  }
}

.u-desktop {
  display: block;
  @include mq($until: tablet) {
    display: none;
  }
}

.u-mobile-block {
  @include mq($until: tablet) {
    display: block;
  }
}

.u-border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.u-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.grecaptcha-badge {
  visibility: hidden;
}

.recaptcha-text {
  font-size: 2rem;
  margin-top: 4rem;

  a {
    color: rgba(255, 255, 255, 0.5);
  }
}

.u-mobile-t-center {
  text-align: left;
  @include mq($until: tablet) {
    text-align: center;
  }
}

.u-text-underline {
  text-decoration: underline;
}

.u-bg-full {
  background-size: cover;
  background-position: center 160px;
  background-repeat: no-repeat;
  @include mq($until: tablet) {
    background-size: 180%;
  }
}

.u-full-page {
  width: 100%;
  height: 100vh;
}

.u-a-link {
  a {
    text-decoration: underline;
  }
}

.italic {
  font-style: italic;
}