.hamburger {
  // position: absolute;
  // top: 10%;
  // transform: translateY(-50%);
  // left: 2rem;
  cursor: pointer;
  display: none;
  font-size: 1.83rem;
  font-family: $font-subtitle;
  @include mq($until: tablet) {
    display: block;
    font-size: 1.4rem;
  }
  span {
    width: 3rem;
    height: 0.2rem;
    background-color: #fff;
    border-radius: 4rem;
    display: block;
    margin-bottom: 0.5rem;
    transition: all 0.3s;
    &:nth-child(2) {
      width: 2rem;
    }
  }
}

.hamburger-become {
  // position: absolute;
  // top: 10%;
  // transform: translateY(-50%);
  display: block !important;
  right: 2rem;
  font-family: $font-subtitle;
  line-height: 1;
  @include mq($until: tablet) {
    font-size: 1.4rem;
    text-align: center;
  }
}
