.tripflow {
  margin: 0 0 7rem 0;

  &__item {
    background-color: #1a1a1a;
    min-height: 56rem;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem 3rem;
    margin-bottom: 3rem;
    height: 100%;
    @include mq($until: tablet) {
      min-height: auto;
      height: auto;
    }
    &__number {
      font-family: $font-title;
      font-size: 8rem;
      margin-bottom: 3rem;
    }
    h3 {
      margin-bottom: 3rem;
      min-height: 10rem;
      @include mq($until: tablet) {
        min-height: auto;
      }
    }
  }
}
